<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function (){
        refresh();
    })

    function refresh(){
        $.get('room/all',function (data){
            console.log(data);
            $("#test_doctor").html(data);
        })
    }
</script>

<body>
<center>
    <h1>Room</h1>
    <h2>
        <a href="/room/add">Add New Room</a>
    </h2>
</center>
<div align="center" id="test_doctor">
    <form>
        <input type="">
    </form>
</div>
</body>
</html>