USE [master]
GO
/****** Object:  Database [LkBD]    Script Date: 28.09.2021 4:22:41 ******/
CREATE DATABASE [LkBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LkBD', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LkBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 0)
 LOG ON 
( NAME = N'LkBD_log', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LkBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 0)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LkBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LkBD]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](10) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Discipline]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Discipline](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Discipline_ID] [int] NULL,
	[Group_ID] [int] NULL,
 CONSTRAINT [PK_Group_Discipline] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Group_Discipline_ID] [int] NULL,
	[DeadLine] [date] NULL,
	[MaxMark] [int] NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_User]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Task_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Mark] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Task_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](15) NULL,
	[Password] [nvarchar](20) NULL,
	[UserRole_ID] [int] NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Mail] [nvarchar](30) NULL,
	[Group_ID] [int] NULL,
	[Fullname_ID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Fullname]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Fullname](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[OtherName] [nvarchar](20) NULL,
 CONSTRAINT [PK_User_Fullname] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 28.09.2021 4:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Discipline] ON 

INSERT [dbo].[Discipline] ([ID], [Name]) VALUES (1, N'ППС')
INSERT [dbo].[Discipline] ([ID], [Name]) VALUES (2, N'Физра')
SET IDENTITY_INSERT [dbo].[Discipline] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([ID], [Number]) VALUES (1, N'4932')
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Group_Discipline] ON 

INSERT [dbo].[Group_Discipline] ([ID], [Discipline_ID], [Group_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Group_Discipline] ([ID], [Discipline_ID], [Group_ID]) VALUES (2, 2, 1)
SET IDENTITY_INSERT [dbo].[Group_Discipline] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([ID], [Group_Discipline_ID], [DeadLine], [MaxMark], [Name]) VALUES (1, 1, CAST(N'2021-10-30' AS Date), 10, N'ДОКУМЕНТАЦИЯ СУКА')
INSERT [dbo].[Task] ([ID], [Group_Discipline_ID], [DeadLine], [MaxMark], [Name]) VALUES (2, 1, CAST(N'2021-10-31' AS Date), 10, N'ЕЩЕ ДОКУМЕНТАЦИЯ СУКА')
INSERT [dbo].[Task] ([ID], [Group_Discipline_ID], [DeadLine], [MaxMark], [Name]) VALUES (3, 2, CAST(N'2030-01-01' AS Date), 1, N'Ну сходи на физру уже(((')
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[Task_User] ON 

INSERT [dbo].[Task_User] ([ID], [Task_ID], [User_ID], [Mark], [Status]) VALUES (1, 1, 4, 9, 1)
INSERT [dbo].[Task_User] ([ID], [Task_ID], [User_ID], [Mark], [Status]) VALUES (2, 2, 4, 0, 0)
INSERT [dbo].[Task_User] ([ID], [Task_ID], [User_ID], [Mark], [Status]) VALUES (3, 3, 4, 0, 0)
SET IDENTITY_INSERT [dbo].[Task_User] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [UserRole_ID], [PhoneNumber], [Mail], [Group_ID], [Fullname_ID]) VALUES (1, N'1', N'qwerty', NULL, N'88005553535', N'a@mail.ru', NULL, NULL)
INSERT [dbo].[User] ([ID], [Login], [Password], [UserRole_ID], [PhoneNumber], [Mail], [Group_ID], [Fullname_ID]) VALUES (2, N'2', N'qwerty', NULL, N'88005553535', N'b@yandex.ru', NULL, NULL)
INSERT [dbo].[User] ([ID], [Login], [Password], [UserRole_ID], [PhoneNumber], [Mail], [Group_ID], [Fullname_ID]) VALUES (3, N'3', N'qwerty', NULL, N'88005553535', N'test@test.ru', NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Fullname] ON 

INSERT [dbo].[User_Fullname] ([ID], [Name], [LastName], [OtherName]) VALUES (1, N'Test', N'Test', N'Test')
INSERT [dbo].[User_Fullname] ([ID], [Name], [LastName], [OtherName]) VALUES (2, NULL, NULL, NULL)
INSERT [dbo].[User_Fullname] ([ID], [Name], [LastName], [OtherName]) VALUES (3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User_Fullname] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (1, N'STUDENT   ')
INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (2, N'LECTURE   ')
INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (3, N'DEANAT    ')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Group_Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Group_Discipline_Discipline1] FOREIGN KEY([Discipline_ID])
REFERENCES [dbo].[Discipline] ([ID])
GO
ALTER TABLE [dbo].[Group_Discipline] CHECK CONSTRAINT [FK_Group_Discipline_Discipline1]
GO
ALTER TABLE [dbo].[Group_Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Group_Discipline_Group1] FOREIGN KEY([Group_ID])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[Group_Discipline] CHECK CONSTRAINT [FK_Group_Discipline_Group1]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Group_Discipline] FOREIGN KEY([Group_Discipline_ID])
REFERENCES [dbo].[Group_Discipline] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Group_Discipline]
GO
ALTER TABLE [dbo].[Task_User]  WITH CHECK ADD  CONSTRAINT [FK_Task_User_Task] FOREIGN KEY([Task_ID])
REFERENCES [dbo].[Task] ([ID])
GO
ALTER TABLE [dbo].[Task_User] CHECK CONSTRAINT [FK_Task_User_Task]
GO
ALTER TABLE [dbo].[Task_User]  WITH CHECK ADD  CONSTRAINT [FK_Task_User_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Task_User] CHECK CONSTRAINT [FK_Task_User_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Group] FOREIGN KEY([Group_ID])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Group]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Fullname] FOREIGN KEY([Fullname_ID])
REFERENCES [dbo].[User_Fullname] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Fullname]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([UserRole_ID])
REFERENCES [dbo].[UserRole] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
USE [master]
GO
