<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="JQuery.js"></script>
</head>

<script type="text/javascript">
    var docId = [[${docId}]];
    console.log(docId);
    $(document).ready(function (){
       if(docId!=-1){
           getData()
       };
    })
    function getData(){
        $.ajax({
            url:'/doctors/get'+docId,
            type: "GET",
            dataType: "json",
            success: function (result){
                $("#txtId").val(docId);
                $("#txtName").val(result.name);
                $("#txtSurname").val(result.surname);
                $("#txtMidname").val(result.midname);
                $("#txtCabinet").val(0);
                $("#txtSpeciality").val(result.speciality);
            },
            error: function (){

            }
        })
    }



    function saveData() {
        if (docId !== -1) {
            $.ajax({
                url: "/doctors/edit/",
                dataType: "json",
                contentType: "application/json",
                type: "PUT",
                cache: false,
                data: JSON.stringify({
                    id: $("#txtId").val(),
                    name: $("#txtName").val(),
                    surname: $("#txtSurname").val(),
                    midname: $("#txtMidname").val(),
                    //cabinet:$("#txtCabinet").val(),
                    cabinet: 0,
                    speciality: $("#txtSpeciality").val()
                }),
                success: function () {
                    getData();
                },
                error: function () {

                }
            });
        } else {
            $.ajax({
                url: "/doctors/post/",
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                cache: false,
                data: JSON.stringify({
                    id: $("#txtId").val(),
                    name: $("#txtName").val(),
                    surname: $("#txtSurname").val(),
                    midname: $("#txtMidname").val(),
                    //cabinet:$("#txtCabinet").val(),
                    cabinet: 0,
                    speciality: $("#txtSpeciality").val()
                }),
                success: function (data) {
                    docId=data;
                    getData();
                },
                error: function () {

                }
            })
    }

    }
</script>

<body>
<div align="center" id ="formdoc"></div>
 <form>
        <table border="1" cellpadding="5">
                <caption>
                        <h2>Doctor</h2>
                    </caption>
                    <input type="hidden" name="id" id="txtId"/>
                <tr>
                        <th>Name: </th>
                        <td>
                               <input type="text" name="name" size="45" id="txtName" />
                        </td>
                    </tr>
                <tr>
                        <th>Surname: </th>
                        <td>
                                <input type="text" name="surname" size="45" id="txtSurname" />
                            </td>
                    </tr>
                <tr>
                        <th>Middle Name: </th>
                        <td>
                                <input type="text" name="midname" size="45" id="txtMidname" />
                            </td>
                   </tr>
                <tr>
                        <th>Cabinet: </th>
                        <td>
                                <input type="number" name="cabinet" size="45" id="txtCabinet" />
                            </td>
                    </tr>
                <tr>
                        <th>Speciality: </th>
                        <td>
                                <input type="text" name="speciality" size="45" id="txtSpeciality"/>
                            </td>
                    </tr>
                <tr>
                    <td colspan="2" align="center"><button type="submit" value="save" onclick='saveData()'>Save</button>
        </table>
 </form>
</body>
</html>