<html>
<head>
    <title>Pharmacy Application</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-1.7.5.min.js"></script>
</head>
<body>
<center>
    <h1>Doctors Management</h1>
    <h2>
        <a th:href="@{/doctors/get-1}">Add New Doctor</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/doctors}"></a>
        &nbsp;
        <a th:href="@{/}">Main menu</a>
    </h2>
</center>
<div align="center">
    <form>
    <table border="1" cellpadding="5">
        <caption><h2>List of Doctors</h2></caption>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Middle Name</th>
            <th>Cabinet</th>
            <th>Speciality</th>
        </tr>
        <tr th:each="doctor : ${listDoctor}">
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.surname}"></td>
                <td th:text="${doctor.midname}"></td>
                <td th:text="${doctor.cabinet}"></td>
                <td th:text="${doctor.speciality}"></td>
                <td>
                   <input type="button" value="delete" ng-click="deleteDoctor(doctor.id)"/>
                </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>

<script>
    function deleteDoctor(docId){
        console.log("fffff");
        console.log(docId);
        $.delete("doctors/delete"+docId);
    }
</script>