<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <title>Spring Security Example </title>
    <!-- <script th:src="@{/main.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet" /> -->
</head>

<style>
    div.error{
        color: #000000;
        background-color: palevioletred;
        text-align: center;
    }
    div.logout{
        color: #000000;
        background-color: palegreen;
        text-align: center;
    }

</style>


<body>

<div th:include="Logout"></div>
<a th:href="@{/}" >Home</a>

<div style="
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
">
    <div class="error" th:if="${param.error}">
        Invalid username and password.
    </div>

    <div class="logout" th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
    </form>

</div>

</body>


</html>