<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en"> 
    <head>

        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

        <title>Library</title>

        <link href="css/bootstrap.min.css" rel="stylesheet"/>

        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular-1.7.5.min.js"></script>
        <script src="js/birja.js"></script>

    </head>
    <body ng-app="birja" ng-controller="birjaController">

    <div th:replace="fragments/header :: header">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" >Здесь будет название компании</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Здесь будет ссылка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <h1  th:text="#{birja.birja}">Здесь будет "" на языке локали</h1>



        <div ng-controller="getBirjas" ng-show="birjaList.length > 0">
            <table id="birjaTable" class="table table-hover">
                <thead>
                    <tr>
                        <th><h2>ID</h2></th>
                        <th><h2>Название</h2></th>
                        <th><h2>Количество</h2></th>
                        <th><h2>Год издания</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="birja in birjaList" id="{{birja.id}}">
                        <td>{{birja.id}}</td>
                        <td>{{birja.nameCompany}}</td>
                        <td>{{birja.kolActives}}</td>
                        <td>{{birja.priceActive}}</td>
                        <td></td>
                        <td><div sec:authorize="isAuthenticated()"><input type="button" class="btn btn-primary" value="Удалить" ng-click="deleteBirja(birja.id)"/></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="errormessage">{{errormessage}}</div>

        <div sec:authorize="isAuthenticated()">
            <form role="form" ng-submit="addBirja()">
                <div class="form-group">
                    <label for="inputCompanyName">Название</label>
                    <input type="text" class="form-control" id="inputCompanyName" name="inputCompanyName"  placeholder="Название" ng-model="inputCompanyName"> </input>
                </div>
                <div class="form-group">
                    <label for="inputKolActives">Количество</label>
                    <input type="text" class="form-control" id="inputKolActives" name="inputKolActives"  placeholder="Количество" ng-model="inputKolActives"> </input>
                </div>
                <div class="form-group">
                    <label for="inputPriceActive">Год издания</label>
                    <input type="text" class="form-control" id="inputPriceActive" name="inputPriceActive"  placeholder="Год" ng-model="inputPriceActive"> </input>
                </div>
                <button type="submit" class="btn btn-default">Добавить</button>
            </form>
        </div>
    </div>
    </body>
</html>
