<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function (){
        refresh();
    })

    function refresh(){
        $.get('table-view',function (data){
            console.log(data);
            let table = "<table border='1'>";
            table = table+"<caption><h2>List of Costs</h2></caption>\n" +
                "        <tr>\n" +
                "            <th>id</th>\n" +
                "            <th>Name</th>\n" +
                "            <th>Price</th>\n" +
                "            <th>Category</th>\n" +
                "            <th>Customer</th>\n" +
                "            <th>Count</th>\n" +
                "        </tr>";
            for(let i=0; i<data.length; i++){
                table = table +"<tr>\n" +
                    "                <td>"+data[i].id+"</td>\n" +
                    "                <td>"+data[i].name+"</td>\n" +
                    "                <td>"+data[i].price+"</td>\n" +
                    "                <td>"+data[i].category+"</td>\n" +
                    "                <td>"+data[i].customer+"</td>\n" +
                    "                <td>"+data[i].count+"</td>\n" +
                    "                <td>\n" +
                    "                    &nbsp;&nbsp;&nbsp;&nbsp;\n" +
                    "                    <button onclick='deleteCost("+data[i].id+")'>Delete</button>\n" +
                    "                </td>\n" +
                    "        </tr>";
            }

            table = table + "</table>";

            $("#table-view").html(table);
        })
    }

    function deleteCost(idCost){
        $.ajax({
            url:'costs/delete/'+ idCost,
            type: "DELETE",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (){
                refresh();
            },
            error: function (error){
                console.log(error);
            }
        })
    }
</script>

<body>
<center>
    <h1>Management</h1>
    <h2>
        &nbsp;&nbsp;&nbsp;
        <a href="@{/table-view}"></a>
        &nbsp;
    </h2>
</center>
<div align="center" id="test_patient">
    <form>
        <input type="">
    </form>
</div>
</body>
</html>