<html>
<head>
    <title>Pharmacy Application</title>
</head>
<body>
<center>
    <h1>Patients Management</h1>
    <h2>
        <a th:href="@{/patients/get-1}">Add New Patient</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/}">Main menu</a>
    </h2>
</center>
<div align="center">
    <form>
    <table border="1" cellpadding="5">
        <thead>
        <caption><h2>List of Patient</h2></caption>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Middle Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${listPatient}">
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.surname}"></td>
                <td th:text="${patient.midname}"></td>
            <td>
                <button th:formaction="@{/patients/get{id}(id=${patient.id})}">Edit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button th:formaction="@{/patients/delete{id}(id=${patient.id})}" th:method="delete">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>
