<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<center>
  <h1>Поликлиника имени плохого кода"</h1>
  <h2>
  </h2>
  <form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
  <table border="1" cellpadding="5">
    <caption>
      <h2>
        Main Menu
      </h2>
    </caption>
    <tr>
      <td>
        <a href="/appointments">Записи к врачу</a>
      </td>
      <td>
        <a href="/doctors">Врачи</a>
      </td>
      <td>
        <a href="/patients">Пациенты</a>
      </td>
    </tr>
  </table>
</center>
</body>
</html>