<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<head>
  <title>Home Page</title>
</head>

<div th:include="Logout"></div>

<div id="particles-js">
    <div class="container" style="padding-left: 60px;">
      <div class="row top">
        <div class="twelve column">
          <h1>Family items</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="one-half column">
          <div class="pens pulled">
            <h1>Pages</h1>
            <ul>
              <li><a href="full-access-pane">Admin pane</a></li>
              <li><a href="read-access-pane">Read pane </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>

