<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="ru">

<head>
  <title>Home</title>
</head>

<div th:include="Logout"></div>

<div>
    <h3>Pages</h3>
    <ul>
        <li>
            <a href="login">Авторизация </a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="crud-pane">Панель администратора</a></li>
        <li sec:authorize="hasAnyRole('USER', 'ADMIN')">
            <a href="read-pane">Панель пользователя </a></li>
    </ul>
</div>

</html>

